.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

.chat_header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.chat_headerInfo {
  flex: 1;
  padding-left: 20px;
}

.chat_headerInfo > h3 {
  font-size: 17px;
  font-weight: 700;
}
.chat_headerInfo > p {
  font-size: 13px;
  color: gray;
}

.chat_body {
  flex: 1;
  padding: 30px;
  background-image: url("/public/images/background.png");
  background-repeat: repeat;
  background-position: center;
  overflow: scroll;
}

.chat_message {
  position: relative;
  font-size: 16px;
  background-color: #ffff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  width: fit-content;
}

.chat_receive {
  position: relative;
  background-color: #dcf8c6;
  margin-left: auto;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  width: fit-content;
}

.chat_name {
  position: absolute;
  top: -15px;
  font-size: xx-small;
  font-weight: 800;
}

.chat_timestamp {
  font-size: xx-small;
  margin-left: 10px;
}

.chat_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.chat_footer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
  cursor: pointer;
}

.chat_footer > form {
  flex: 1;
  display: flex;
}

.chat_footer > form > input {
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 10px;
  flex: 1;
}

.chat_footer > form > button {
  display: none;
}

.chat_body_initial {
  background-color: rgb(250, 245, 245);
  position: absolute;
  top: 79px;
  height: 89%;
  width: 100%;
  padding-top: 50%;
}

.chat_body_initial > h1 > h3 {
  text-align: center;
}

/******************* media query *******************/

@media screen and (max-width: 480px) {
  .chat {
    padding: 10px;
    margin: 0;
  }

  .chat_header {
    padding: 5px;
  }

  .chat_headerRight h4 {
    display: inline !important;
    cursor: pointer;
  }
}
