.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.sidebar_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar_headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar_headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.sidebar_search {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
}

.sidebar_searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  height: 35px;
  width: 100%;
  border-radius: 20px;
}

.sidebar_searchContainer > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}

.sidebar_searchContainer > input {
  border: none;
  outline: none;
  color: gray;
}

.sidebar_chat {
  background-color: white;
  flex: 1;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}
