.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  position: relative;
}

.sidebar_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar_header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.sidebar_headerLeft > img {
  width: 20px;
  padding: 20px;
  cursor: pointer;
}

.sidebar_headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar_headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.sidebar_Profile {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /* box-shadow: 12px 0px 21px -5px rgba(0, 0, 0, 0.57); */
}

.sidebar_Profile_Header {
  height: 80px;
  width: 100%;
  background-color: lightseagreen;
  display: flex;
  align-items: center;
}

.sidebar_Profile_Header > img {
  width: 20px;
  padding: 20px;
  cursor: pointer;
}

.sidebar_Profile_Header > h3 {
  color: white;
  font-size: 25px;
  font-weight: 400;
}

.sidebar_Profile_Item {
  display: flex;
  display: grid;
  place-items: center;
}

.sidebar_Profile_Item :first-child {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  padding: 20px 0;
}

/* .sidebar_Profile_Item_Content {
  background-color: white;
  height: 70px;
  width: 100%;
  margin: 20px 0;
} */

.sidebar_fullScreen {
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.sidebar_menu {
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 6px 28px 6px rgba(0, 0, 0, 0.76);

  position: absolute;
  top: 70px;
  right: 20px;
}

.sidebar_menu > button {
  padding: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
  font-size: 18px;
  font-weight: 700;
}

.sidebar_menu > button:hover {
  background-color: lightgray;
}

.sidebar_menu > button:first-child {
  border-bottom: 1px solid lightgray;
}

.sidebar_search {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
}

.sidebar_searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  height: 35px;
  width: 100%;
  border-radius: 20px;
}

.sidebar_searchContainer > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}

.sidebar_searchContainer > input {
  border: none;
  outline: none;
}

.sidebar_chat {
  background-color: white;
  flex: 1;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

/******************* Media query *******************/

@media screen and (min-width: 480px) {
  .sidebar {
    display: inline-flex !important;
  }
}

@media screen and (max-width: 480px) {
  .sidebar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
  }

  .sidebar_header,
  .sidebar_header2 {
    background-color: lightgray;
  }

  .sidebar_header {
    display: none;
  }

  .sidebar_header2 {
    display: inline-flex !important;
  }
}
